@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* common */

.container {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  width: 100%;
  padding: 50px 0;
}

/* header */

.header-container {
  padding: 5px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-thumb {
  display: inline-block;
  background-image: url(/images/cloud-b.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 160px;
}

.nav-list {
  display: none;
}

.menu-open {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.open-icon {
  fill: #715d00;
}

/* mobile menu */

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #f6e791;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close {
  position: absolute;
  top: 15px;
  right: 7px;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.close-icon {
  fill: #715d00;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mob-nav-link {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #715d00;
}

/* hero */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/back-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 114px 0 100px 0;
}

.hero-title {
  font-size: 36px;
  text-align: center;
  color: #f9e994;
  margin-bottom: 42px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left-text {
  font-size: 18px;
  line-height: 131%;
  color: #f6f7e4;
  text-align: center;
  margin-bottom: 48px;
}

.left-list {
  background-color: #7fb3e1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 18px;
  padding: 35px;
}

.left-item {
  display: flex;
  align-items: center;
  gap: 17px;
}

.left-list-text {
  font-size: 14px;
  color: #dfe4de;
}

.hero-right {
  border-radius: 20px 20px 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fdfcfc;
  width: 270px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.right-timer {
  border-radius: 10px;
  height: 150px;
  background-image: url(/images/blue.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 24px 33px 24px;
  position: relative;
  margin-bottom: 21px;
}

.timer-text {
  text-align: center;
  font-size: 33px;
  color: #483c08;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.timer-time {
  height: 42px;
  text-align: center;
  font-size: 36px;
  color: #f6e791;
}

.timer-price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.timer-old-price {
  position: relative;
  font-size: 30px;
  color: #6b6b6b;
}

.timer-new-price {
  font-size: 36px;
  color: #483c08;
}

.line {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f6be91;
  top: 50%;
  left: 0;
  transform: rotate(-10deg);
  transform-origin: center;
}

.right-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.form-input {
  box-sizing: border-box;
  width: 222px;
  padding: 16px 16px 16px 55px;
  border-radius: 30px;
  background-color: #f3efef;
  border: none;
  font-size: 16px;
  color: #777;
}

.form-input::placeholder {
  font-size: 16px;
  color: #777;
}

.form-icon {
  position: absolute;
  fill: #aaa8a8;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-btn {
  border-radius: 30px;
  background-color: #a1d337;
  border: none;
  font-size: 30px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 63px;
}

.right-date {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #444;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* About */

.advice-section {
  background-image: url(/images/back-2.webp);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

.advice-container {
}

.advice-title {
  font-size: 36px;
  text-align: center;
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 42px;
}

.advice-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.advice-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #f6e791;
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 14px 15px;
}

.advice-img {
  margin-bottom: 17px;
}

.advice-info {
  border-radius: 20px;
  background: rgba(161, 211, 55, 0.4);
  padding: 20px 14px 30px 14px;
}

.advice-subtitle {
  text-align: center;
  font-size: 22px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}

.advice-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #483c08;
}

/* Results */

.using-section {
  background-image: url(/images/back-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.using-container {
}

.using-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #537d13;
  margin-bottom: 42px;
}

.using-main {
}

.using-text-wrapper {
  height: 850px;
  background-image: url(/images/mobile-green.png);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 40px;
  display: flex;
}

.using-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #483c08;
}

.using-img {
}

/* Media */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section {
    padding: 100px 0;
  }

  .logo-thumb {
    height: 60px;
  }

  .logo-img {
    width: 200px;
  }

  .nav-list {
    height: 60px;
    width: 360px;
    display: inline-block;
    background-image: url(/images/cloud-s.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    padding: 10px 0;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #715d00;
  }

  .menu-open {
    display: none;
  }

  .hero-section {
    padding: 126px 0 100px 0;
  }

  .hero-title {
    font-size: 52px;
  }

  .hero-main {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-left {
    width: 270px;
  }

  .left-text {
    font-size: 26px;
  }

  .left-list-text {
    font-size: 20px;
  }

  .hero-img {
    position: absolute;
    z-index: 1001;
    width: 400px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-right {
    margin: 0;
  }

  .advice-section {
  }
  .advice-container {
  }
  .advice-title {
  }
  .advice-list {
  }
  .advice-item {
  }
  .advice-img {
  }
  .advice-info {
  }
  .advice-subtitle {
  }
  .advice-text {
  }
  .using-section {
  }
  .using-container {
  }
  .using-title {
  }
  .using-main {
  }
  .using-text-wrapper {
  }
  .using-text {
  }
  .using-img {
  }
}

@media screen and (min-width: 1158px) {
  .container {
  }
  .header-container {
  }
  .page-nav {
  }
  .logo-thumb {
  }
  .logo-link {
  }
  .logo-img {
  }
  .nav-list {
  }
  .nav-item {
  }
  .nav-link {
  }
  .menu-open {
  }
  .js-open-menu {
  }
  .open-icon {
  }
  .mob-menu {
  }
  .js-menu-container {
  }
  .menu-close {
  }
  .js-close-menu {
  }
  .close-icon {
  }
  .mob-menu-nav {
  }
  .mob-nav-list {
  }
  .mob-nav-item {
  }
  .mob-nav-link {
  }
  .section {
  }
  .hero-section {
  }
  .hero-container {
  }
  .hero-title {
  }
  .hero-main {
  }
  .hero-left {
  }
  .left-text {
  }
  .left-list {
  }
  .left-item {
  }
  .left-icon {
  }
  .left-list-text {
  }
  .hero-img {
  }
  .hero-right {
  }
  .right-timer {
  }
  .timer-text {
  }
  .timer-time {
  }
  .timer-price {
  }
  .timer-old-price {
  }
  .line {
  }
  .timer-new-price {
  }
  .right-form {
  }
  .input-wrapper {
  }
  .form-input {
  }
  .form-icon {
  }
  .form-btn {
  }
  .right-date {
  }
  .advice-section {
  }
  .advice-container {
  }
  .advice-title {
  }
  .advice-list {
  }
  .advice-item {
  }
  .advice-img {
  }
  .advice-info {
  }
  .advice-subtitle {
  }
  .advice-text {
  }
  .using-section {
  }
  .using-container {
  }
  .using-title {
  }
  .using-main {
  }
  .using-text-wrapper {
  }
  .using-text {
  }
  .using-img {
  }
}
